{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="320" height="320">
        {% else %}
            <p></p>
        {% endif %}
        <ul>
            <li><p>Описание: {{ product.description }}</p></li>
            <li>Цена: {{ product.price }} у.е.</li>
            <li>Количество: {{ product.quantity }} шт.</li>
        </ul>
{% endblock %}